<h1>Cart Courses</h1>

<div id="cart">
    {{#if products.length}}
        <table>
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn-small js-remove" data-id="{{_id}}">Delete</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <p><strong>Total price of purchase: </strong><span class="price">{{totalPrice}}</span></p>
    {{else}}
        <h2>Cart is empty</h2>
    {{/if}}
</div>